$slateblue: #A6BABB;
$fatface: 'Abril Fatface', cursive;

html, body { 
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
body {
    // background: tomato;
}

.wrapper{
  position: relative;
	max-width: 1080px;
	margin: 0 auto;	
	width: 90%;	
}

// #beerResults{
// 	display: flex;
// 	flex-direction: row;
// }

h1, h2, h3, h4{
	font-family: 'Abril Fatface', cursive;
}

header {
  padding: 0;
  margin: 0;
  background-image: url(/public/images/barrel.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: FlipH;
  height: 100vh;
  }

.headline {
  padding-top: 52rem;
  position: relative;
  .titleLine {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
  .wheat {
    width: 16%;
    padding-right: 2rem;
    padding-top: 2.8rem;
  }
  h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-family: $fatface;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }
  }
  div.divLine {
    height: 6rem;
    background-color: $slateblue;
  }
}

// img{
// 	width: 25%;
// }

#content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
#map {
  width: 100%;
  /*height: 100vh;*/
  height: 500px;
}

form {
}

.formWrapper {
  position: relative;
}

.beerChoiceWrapper {
  // display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  // float: left;
}

.beerChoice {
  width: 50%;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
  cursor: pointer;
  border: 5px solid black;
}

.beerChoice img {
  max-width: 200px;
  max-height: 150px;
}

.radios {
  display: none;
}

input[type=radio]:checked + label {
  border: 5px solid tomato;
}

.submitButton {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: flex-end;
  position: relative;
  bottom: 0; 
  margin-top: 50px;
  input[type=submit] {
    background: tomato;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border: 2px solid silver;
    border-radius: 10px;
    transition: all 0.35s;
    outline: none;

    &:hover {
      background: white;
      color: tomato;
    }
  }
}

div.mapAndListWrapper {
  display: flex;
  flex-direction: row;
  .storeResults {
    width: 50%;
  }
  .mapWrapper {
    width: 50%;
  }
}